<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="mt-5">
    <h1 class="m-30">welcome to my social media page. For access you have to signUP or login first </h1>
</div>
  </div> 
  <%- include('../partials/footer.ejs')  %>