
 <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-success sidebar collapse" style=" position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);">
  <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column">
          <li class="nav-item">
              <a class="nav-link mt-2 text-light" aria-current="page" href="/">
                  <i class="bi bi-people"></i>
                  <span class="ms-2">Users</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="/profile">
                  <i class="bi bi-book"></i>
                  <span class="ms-2">Profile</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-info" href="/post">
                  <i class="bi bi-book-half"></i>
                  <span class="ms-2">Post</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-dark" href="/about">
                  <i class="bi bi-patch-question"></i>
                  <span class="ms-2">About</span>
              </a>
          </li>
      </ul>
  </div>
</nav>
